<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="user/fragments/base_layout"
>
<body>
<div layout:fragment="content">
    <div class="timeline-v" th:object="${processes}">
        <div th:each="process,state : ${processes}">
            <div th:with="result = ${state.index % 2}" th:object="${project_id}">
                <div th:if="${result == 0}" class="timelinecontainer approved timeline-left">
                    <div class="timelinecontent">
                        <a th:href="@{/projects/{project_id}/{process_id}/(project_id=${project_id} , process_id=${process.id})}">
                            <h2 th:text="${process.name}">process name</h2></a>
                        <h5>Start date : <span th:text="${process.startDate}">start date</span></h5>
                        <h5>End date : <span th:text="${process.endDate}">end date</span></h5>
                        <p>Description : <span th:text="${process.description}">description</span></p>
                    </div>
                </div>
                <div th:if="${result != 0}" class="timelinecontainer approved timeline-right">
                    <div class="timelinecontent">
                        <a th:href="@{/projects/{project_id}/{process_id}/(project_id=${project_id} , process_id=${process.id})}">
                            <h2 th:text="${process.name}">process name</h2></a>
                        <h5>Start date : <span th:text="${process.startDate}">start date</span></h5>
                        <h5>End date : <span th:text="${process.endDate}">end date</span></h5>
                        <p>Description : <span th:text="${process.description}">description</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>